#panel {
  max-width: 1920px;
  margin: 0 auto;
}

/* ширифты */
.swiper-wrapper {
  height: auto
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoCondensed-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoCondensed-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoCondensed-ExtraBold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoCondensed-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoCondensed-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoCondensed-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/RobotoCondensed-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

/* /ширифты */
/* бибилиотеки */

/* бибилиотеки */

/* общие настройки */
html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.row {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  padding: 0 15px;
  box-sizing: border-box;

}

.col-1 {
  width: calc(100% / 12);
}

.col-2 {
  width: calc(100% / 12 * 2);
}

.col-3 {
  width: calc(100% / 12 * 3);
}

.col-4 {
  width: calc(100% / 12 * 4);
}

.col-5 {
  width: calc(100% / 12 * 5);
}

.col-6 {
  width: calc(100% / 12 * 6);
}

.col-7 {
  width: calc(100% / 12 * 7);
}

.col-8 {
  width: calc(100% / 12 * 8);
}

.col-9 {
  width: calc(100% / 12 * 9);
}

.col-10 {
  width: calc(100% / 12 * 10);
}

.col-11 {
  width: calc(100% / 12 * 11);
}

.col-12 {
  width: 100%;
}

@media (max-width: 1200px) {
  .grid {
    margin: 0 -8px;
  }

  .row {
    margin: 0 -8px;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-10,
  .col-11,
  .col-12 {
    padding: 0 8px;
  }

  .col-1 {
    width: calc(100% / 12);
  }

  .col-2 {
    width: calc(100% / 12 * 2);
  }

  .col-3 {
    width: calc(100% / 12 * 3);
  }

  .col-4 {
    width: calc(100% / 12 * 4);
  }

  .col-5 {
    width: calc(100% / 12 * 5);
  }

  .col-6 {
    width: calc(100% / 12 * 6);
  }

  .col-7 {
    width: calc(100% / 12 * 7);
  }

  .col-8 {
    width: calc(100% / 12 * 8);
  }

  .col-9 {
    width: calc(100% / 12 * 9);
  }

  .col-10 {
    width: calc(100% / 12 * 10);
  }

  .col-11 {
    width: calc(100% / 12 * 11);
  }

  .col-12 {
    width: 100%;
  }

  .col-l-1 {
    width: calc(100% / 12);
  }

  .col-l-2 {
    width: calc(100% / 12 * 2);
  }

  .col-l-3 {
    width: calc(100% / 12 * 3);
  }

  .col-l-4 {
    width: calc(100% / 12 * 4);
  }

  .col-l-5 {
    width: calc(100% / 12 * 5);
  }

  .col-l-6 {
    width: calc(100% / 12 * 6);
  }

  .col-l-7 {
    width: calc(100% / 12 * 7);
  }

  .col-l-8 {
    width: calc(100% / 12 * 8);
  }

  .col-l-9 {
    width: calc(100% / 12 * 9);
  }

  .col-l-10 {
    width: calc(100% / 12 * 10);
  }

  .col-l-11 {
    width: calc(100% / 12 * 11);
  }

  .col-l-12 {
    width: 100%;
  }

  .ord-l-1 {
    order: 1;
  }
}

.hide {
  display: none !important
}

@media (max-width: 1200px) and (min-width: 600px) {
  .hide-l {
    display: none !important
  }
}

@media (min-width: 1200px) {
  .hide-d {
    display: none !important
  }
}

@media (max-width: 767px) {
  .grid {
    /* margin: 0 -8px; */
    display: flex;
  }

  .row {
    /* margin: 0 -8px; */
  }

  .col-m-1 {
    width: calc(100% / 12);
  }

  .col-m-2 {
    width: calc(100% / 12 * 2);
  }

  .col-m-3 {
    width: calc(100% / 12 * 3);
  }

  .col-m-4 {
    width: calc(100% / 12 * 4);
  }

  .col-m-5 {
    width: calc(100% / 12 * 5);
  }

  .col-m-6 {
    width: calc(100% / 12 * 6);
  }

  .col-m-7 {
    width: calc(100% / 12 * 7);
  }

  .col-m-8 {
    width: calc(100% / 12 * 8);
  }

  .col-m-9 {
    width: calc(100% / 12 * 9);
  }

  .col-m-10 {
    width: calc(100% / 12 * 10);
  }

  .col-m-11 {
    width: calc(100% / 12 * 11);
  }

  .col-m-12 {
    width: 100%;
  }

  .hide-m {
    display: none !important
  }
}

.b-clear {
  clear: both;
}

.body {
  margin: 0;
  padding: 0;
  background: #FAFAFA;
  line-height: 150%;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  color: #0A1F33;
  position: relative;
  /* overflow-x: hidden; */
}

.body.fixed {
  overflow: hidden;
}

.body.fixed::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 18;
  background: rgba(18, 18, 18, 0.50);
}

@media (max-width: 1200px) {}

@media (max-width: 767px) {
  .body {
    font-size: 15px;
  }
}

.container-big {
  margin: 0 auto;
  max-width: 1920px;
  padding-left: 360px;
  padding-right: 120px;
  box-sizing: border-box;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  height: 100%;
  position: relative;
}

.container__left {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  box-shadow: 0px -10px 10px rgba(221, 225, 232, 0.7);
  background: #fff;
  height: 100vh;
  z-index: 5;
}

.container__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 36px;
  align-items: center;
  width: 120px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  background: #DDE1E8;
  padding-bottom: 54px;
  z-index: 25;
}

.container__right .policy {
  display: none;
}

.container__center {
  /* padding: 0 120px 0 360px; */
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 126px;
  width: 100%;
}

@media screen and (min-width: 1920px) {
  .container__left {
    left: calc(50% - 960px);
  }

  .container__right {
    right: calc(50% - 960px);
  }
}
@media screen and (max-width: 1700px) {
  .container {
    padding: 0 80px;
  }
}

@media screen and (max-width: 1400px) {
  .container-big {
    padding-right: 80px;
    padding-left: 270px;
  }

  .container__left {
    width: 270px;
  }

  .container__right {
    width: 80px;
  }
}


@media screen and (max-width: 1200px) {
  .container-big {
    margin: 0 auto;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
  }

  .container__left {
    display: none;
  }

  .container__right {
    padding: 0;
    display: block;
    position: static;
    width: 100%;
    height: auto;
  }

  .container__right .policy {
    padding: 36px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
  }

  .container,
  .container-adaptive {
    margin: 0 auto;
    padding: 0 126px;
    width: 100%;
  }
}

@media (max-width: 920px) {

  .container,
  .container-adaptive {
    padding: 0 40px;
    max-width: 720px;
  }
}

@media screen and (max-width: 767px) {
  .container-big {
    margin: 0 auto;
    padding: 0;
  }

  .container,
  .container-adaptive {
    padding: 0 40px;
    max-width: 720px;
  }
}

@media screen and (max-width: 440px) {
  .container__right .header__search {
    display: none;
  }

  .container,
  .container-adaptive {
    padding: 0 16px;
    max-width: 382px;
  }
}

/*  */
.section {
  margin-bottom: 60px;
}

h1 {
  margin: 0 0 0.6em;
  padding: 0;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 54px;
  line-height: 111%;
  color: #0A1F33;
}

h2 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 40px;
  font-style: normal;
  line-height: 150%;
  color: #0A1F33;
}

h3 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  font-style: normal;
  line-height: 150%;
  color: #0A1F33;
}

h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 1em;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
  font-style: normal;
  line-height: 150%;
  color: #0A1F33;
}

@media (max-width: 1200px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  h1 {
    font-size: 36px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 24px;
  }

  h4 {
    font-size: 20px;
  }

}

section {}

*:hover {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

.disabled,
*:disabled {
  opacity: 0.6;
  pointer-events: none;
}

*:not(body, html)::-webkit-scrollbar {
  width: 3px;
  background-color: #f5f5f5;
  border-radius: 2px;
}

*:not(body, html)::-webkit-scrollbar-thumb {
  background: #E9F0FF;
}

ul:not([class]) {
  margin: 0 0 0.5em;
  padding: 0 0 0 2em;
  list-style-type: disc;
}

a {
  text-decoration: none;
  color: #CC0001;
  transition: all 0.3s;
}

a:not([class]) {
  color: #CC0001;
  text-decoration: none;
}

a:not([class]):hover {
  text-decoration: underline;
  color: #CC0001;
}

a[href^="tel:"] {
  white-space: nowrap;
}

img {
  max-width: 100%;
  border: none;
}

input,
textarea,
button,
select {
  outline: none;
  border: none;
  font-family: 'Roboto', sans-serif;
}

input,
textarea {
  padding: 10px 20px;
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid #E52600;
  background: transparent;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

input:focus,
textarea:focus {
  border: 3px solid #fff;
  background: #fff;
}

input::placeholder,
textarea::placeholder {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #07192A;
}

textarea {
  height: 80px;
}

label {
  display: block;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"]+label {
  margin-bottom: 0;
  display: inline-flex;
  user-select: none;
  cursor: pointer;
}

input[type="checkbox"]+label::before {
  content: '';
  display: inline-block;
  width: 30px;
  min-width: 30px;
  height: 30px;
  border: 1px solid #fff;
  border-radius: 8px;
  margin-right: 10px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

input[type="checkbox"]:checked+label::before {
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="10" viewBox="0 0 14 10" fill="none"><path d="M1 4.85185L5.18518 9L13 1" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/></svg>')
}

@media (max-width: 767px) {
  input[type="checkbox"]+label {
    align-items: center;
  }
}

/* @media (max-width: 767px) {
  input, textarea {
    font-size: 14px;
  }
  input::placeholder,
  textarea::placeholder {
    font-size: 14px;
  }
} */
.select2-container {
  width: 100% !important
}

.select2-container--default .select2-selection--single {
  padding: 10px 20px;
  display: block;
  width: 100%;
  border: 3px solid #E52600;
  border-radius: 0;
  background: transparent;
  resize: none;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #0A1F33;
  line-height: 130%;
  height: 53px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #0A1F33;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  display: block;
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translate(50%);
  width: 9px;
  height: 6px;
  /* background: url(../img/icons/arr-down.svg) 0 50% no-repeat; */
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-dropdown {
  border: 1px solid #EEE;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  color: #CC0001;
  background: none;
}

.select2-container--default .select2-results__option--selected {
  color: #CC0001;
}

.select2-container--open .select2-dropdown--below {
  z-index: 100000;
}

@media (max-width: 1200px) {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 16px;
  }

  .select2-container--default .select2-selection--single {
    padding: 10px 20px;
    height: 40px;
  }
}

.btn {
  padding: 15px 30px;
  display: inline-block;
  border: 4px solid #CC0001;
  line-height: 100%;
  position: relative;
  transition: all 0.3s;
  background: #CC0001;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  cursor: pointer;
}

.btn:hover {
  background: #fff;
  color: #CC0001;
}

.btn-white {
  border: 4px solid #fff;
  background: transparent;
}

.btn-white:hover {
  background: #CC0001;
  border: 4px solid #CC0001;
  color: #fff;
}

.btn-border {
  background: #fff;
  color: #CC0001;
}

.btn-border:hover {
  background: #CC0001;
  border: 1px solid #CC0001;
  color: #fff;
}

.btn-more {
  display: flex;
  padding: 15px 30px 15px 90px;
  background: #fff;
  position: relative;
  font-weight: 700;
  color: #07192A;
  transition: all 0.3s;
  width: max-content;
}

.btn-more::before {
  content: '';
  display: block;
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #CC0001;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 60 60" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M32 20H28V28L20 28V32H28V40H32V32H40V28L32 28V20Z" fill="white"/></svg>');
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.btn-more:hover {
  background: #E52600;
  color: #fff;
}

.btn-more:hover::before {
  background-color: #E52600;
}

@media (max-width: 767px) {
  .btn {
    font-size: 20px;
  }
}

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

.page__header {
  max-width: 1920px;
  margin: 0 auto;
  z-index: 20;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
}

.page__body {
  /* padding-top: 30px; */
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  /* overflow: hidden; */
  flex-grow: 1;
  z-index: 2;
}

.p-main {
  padding-top: 0;
}

.page__footer {
  z-index: 2;
}

/* шапка */
.header {
  background: #FAFAFA;
}

.header__content {
  padding: 0 40px 0 133px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}

.header__contacts {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: 900;
  font-size: 22px;
}

.header__contacts a {
  color: #0A1F33;
  transition: color 0.3s;
}

.header__contacts a:hover {
  color: #CC0001;
}

.header__mail svg {
  display: block;
}

.header__mail path {
  transition: all 0.3s;
}

.header__mail:hover path {
  stroke: #CC0001;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left .logo {
  display: none;
}

.header__mobile-menu {
  display: none;
}

.header__tel svg {
  display: none;
}

@media (max-width: 1700px) {
  .header__content {
    padding: 0 40px 0 60px;
  }
}

@media (max-width: 1400px) {
  .header__content {
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .header__content {
    padding: 0 100px 0 0;
  }

  .header__left .logo {
    display: flex;
  }

  .header__left .logo .logo__text {
    display: none;
  }

  .header__mobile-menu {
    display: block;
  }

  .header__search {
    position: fixed;
    top: 0;
    right: 0;
  }
}

@media (max-width: 767px) {
  .header__content {
    height: 60px;
    padding: 0 100px 0 0;
    position: relative;
  }

  .header__contacts {
    gap: 20px;
  }

  .header__tel svg {
    display: block;
  }

  .header__tel span {
    display: none;
  }

  .header__mail svg {
    width: 20px;
  }
}

@media (max-width: 440px) {
  .header__content {
    padding: 0 60px 0 0;
  }

  .header__contacts {
    display: none;
  }

  .header__left .logo .logo__text {
    display: block;
  }
}

/*  */
.logo {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  background: #fff;
}

.logo img {
  display: block;
  max-height: 100%;
}

@media (max-width: 1400px) {
  .logo {
    height: 80px;
  }
}

@media (max-width: 767px) {
  .logo {
    height: 60px;
  }
}

@media (max-width: 440px) {
  .logo {
    border-bottom: none;
  }

  .logo__icon {
    width: 120px;
    max-width: calc(100vw - 240px);
    object-fit: cover;
  }

  .logo__text {
    width: 180px;
    max-width: 180px;
    object-fit: cover;
  }
}

/* поиск в шапке */
.header-search {
  position: relative;
  z-index: 6;
}

.header-search__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #07192B;
  height: 120px;
  width: 120px;
  cursor: pointer;
  transition: all 0.3s;
}

.header-search__icon:hover {
  background: #E52600;
}

.header-search__form {
  box-sizing: border-box;
  position: absolute;
  right: 120px;
  top: 0;
  width: 0;
  height: 120px;
  transition: width 0.3s;
  overflow: hidden;
}

.header-search__form.open {
  width: calc(100vw - 360px - 137px);
}

.header-search__form input {
  padding: 0 24px;
  height: 120px;
  font-size: 20px;
  background: #fff;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  border-left: 1px solid rgba(0, 0, 0, 0.10);
}

.header-search__form input::placeholder {
  font-size: 20px;
  color: #A1A7B2;
}

.header-search__icon--cross {
  position: absolute;
  top: 0;
  right: 0;
  display: none;
  opacity: 0;
  transition: opacity 0.3s;

}

.header-search__icon--cross.open {
  display: flex;
  opacity: 1;
}

.header-search__results {
  padding: 40px 24px;
  position: absolute;
  top: 120px;
  right: 120px;
  width: calc(100vw - 360px - 137px);
  background: #fff;
  border-left: 1px solid rgba(0, 0, 0, 0.10);
  border-top: 1px solid rgba(0, 0, 0, 0.10);
  box-shadow: 0px 10px 10px rgba(221, 225, 232, 0.7);
  flex-direction: column;
  gap: 20px;
  max-height: calc(100vh - 120px);
  overflow: auto;
  display: none;
}

.header-search__results.open {
  display: flex;
}

.header-search__result {
  font-size: 22px;
  font-weight: 500;
  color: #0A1F33;
  transition: color 0.3s;
}

.header-search__result:hover {
  color: #CC0001;
}

@media (max-width: 1400px) {
  .header-search__icon {
    width: 80px;
    height: 80px;
  }

  .header-search__results {
    top: 80px;
    right: 80px;
    width: calc(100vw - 270px - 80px);
  }

  .header-search__form {
    right: 80px;
    height: 80px;
  }

  .header-search__form.open {
    width: calc(100vw - 270px - 80px);
  }

  .header-search__form input {
    height: 80px;
  }
}

@media (max-width: 1200px) {
  .header-search__results {
    width: calc(100vw - 160px);
  }

  .header-search__form.open {
    width: calc(100vw - 160px);
  }
}

@media (max-width: 767px) {
  .header-search__icon {
    width: 60px;
    height: 60px;
  }

  .header-search__icon img {
    width: 20px;
  }

  .header-search__results {
    top: 60px;
    right: 60px;
    width: calc(100vw - 120px);
  }

  .header-search__form {
    right: 60px;
    height: 60px;
  }

  .header-search__form.open {
    width: calc(100vw - 120px);
  }

  .header-search__form input {
    height: 60px;
  }
}

/* top-menu */
.top-menu {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  gap: 60px;
}

.top-menu__link {
  font-size: 22px;
  font-weight: 500;
  color: #0A1F33;
  transition: color 0.3s;
}

.top-menu__link:hover,
.top-menu__link.active {
  color: #CC0001;
}

@media (max-width: 1200px) {
  .top-menu {
    display: none;
  }
}

/*  */
.left-menu {
  position: relative;
}

.left-menu__container {
  height: calc(100vh - 240px);
  overflow-y: auto;
  overflow-x: visible;

  direction: rtl;
  display: flex;
  justify-content: end;

}

.left-menu:hover {
  width: 740px;
}

.left-menu__ul {
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  width: 360px;
  text-align: end;
}

.left-menu__link {
  padding: 25px 60px 25px 38px;
  display: block;
  position: relative;
  font-size: 22px;
  font-weight: 500;
  color: #07192A;
  transition: color 0.3s;
}

.left-menu__link.has-children::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 16px;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" fill="none"><path d="M2 14L8 8L2 2" stroke="%2307192A" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
  right: 45px;
  transform: translateY(-50%);
}

.left-menu__link:hover {
  color: #CC0001;
}

.left-menu__link.has-children:hover::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 16px;
  background-image: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="16" viewBox="0 0 10 16" fill="none"><path d="M2 14L8 8L2 2" stroke="%23CC0001" stroke-width="3" stroke-linecap="round" stroke-linejoin="round"></path></svg>');
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  top: 50%;
  right: 40px;
  transform: translateY(-50%);
}

.left-menu__item:hover .left-menu__submenu {
  width: 360px;
}

.left-menu__submenu {
  margin: 0;
  padding: 20px 0;
  background: #F2F5FA;
  box-shadow: 12px 6px 10px 0px rgba(0, 0, 0, 0.07);
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 358px;
  width: 0px;
  height: calc(100vh - 120px);
  overflow-y: auto;
  overflow-x: hidden;
  transition: width 0.3s;
  direction: rtl;
}

.left-menu__submenu::-webkit-scrollbar {
  pointer-events: none;
}

.left-menu__sublink {
  padding: 20px 40px;
  box-sizing: border-box;
  width: 360px;
  display: block;
  position: relative;
  font-size: 22px;
  font-weight: 500;
  color: #07192A;
  transition: color 0.3s, background-color 0.3s;
}

.left-menu__sublink:hover {
  background-color: #fff;
}

@media (max-width: 1400px) {
  .left-menu__container {
    height: calc(100vh - 160px);
  }

  .left-menu__ul {
    width: 270px;
  }

  .left-menu__item:hover .left-menu__submenu {
    width: 270px;
  }

  .left-menu__link {
    padding: 16px 60px 16px 38px;
  }

  .left-menu__submenu {
    left: 270px;
    height: calc(100vh - 80px);
  }

  .left-menu__sublink {
    padding: 16px 60px 16px 38px;
    width: 270px;
  }
}

/* mobile-menu */
.mobile-menu {}

.mobile-menu__content {
  display: flex;
}

.mobile-menu__search {
  display: none;
}

.mobile-menu__title {
  height: 80px;
  padding: 10px 30px;
  display: flex;
  gap: 10px;
  align-items: center;
  background: #FCFCFC;
  font-weight: 500;
  font-size: 22px;
  color: #07192A;
  cursor: pointer;
}

.mobile-menu__block:first-child .mobile-menu__title {
  background: #fff;
}

.mobile-menu__title.open {
  color: #CC0001;
}

.mobile-menu__title.open svg {
  transform: rotate(180deg);
}

.mobile-menu__title.open svg path {
  stroke: #CC0001;
}

.mobile-menu__block {
  position: relative;
}

.mobile-menu__menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
}

.mobile-menu__ul {
  padding: 20px 0;
  margin: 0;
  list-style-type: none;

  background: #fff;
  width: 300px;
  max-height: calc(100vh - 80px);
  overflow: auto;
}

.mobile-menu__item {
  /* position: relative; */
}

.mobile-menu__arr {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 30px;
  z-index: 1;
  cursor: pointer;
}

.mobile-menu__fulllink {
  padding-right: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-menu__link {
  padding: 10px 40px;
  display: block;
  font-weight: 500;
  font-size: 22px;
  color: #07192A;
}

.mobile-menu__fulllink.open .mobile-menu__link {
  color: #CC0001;
}

.mobile-menu__fulllink.open svg {
  transform: rotate(180deg);
}

.mobile-menu__fulllink.open svg path {
  stroke: #CC0001;
}

.mobile-menu__submenu {
  padding: 20px 0;
  margin: 0;
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 100%;
  background: #F2F5FA;
  width: 300px;
  height: 100%;
  max-height: calc(100vh - 80px);
  overflow: auto;
  z-index: 1;
  display: none;
}

.mobile-menu__sublink {
  padding: 10px 40px;
  display: block;
  font-weight: 500;
  font-size: 22px;
  color: #07192A;
}

.mobile-menu__contacts {
  display: none;
}

.mobile-menu__bottom {
  display: none;
}

@media (max-width: 767px) {
  .mobile-menu__title {
    padding: 10px 20px;
    height: 60px;
    font-size: 16px;
  }

  .mobile-menu__title svg {
    width: 15px;
  }

  .mobile-menu__block {
    position: static;
  }

  .mobile-menu__ul {
    padding: 0;
    width: 100%;
    max-height: none;
  }

  .mobile-menu__submenu {
    padding: 10px 0 10px 10px;
    box-sizing: border-box;
    position: static;
    width: 100%;
    max-height: none;
  }
}

@media (max-width: 500px) {
  .mobile-menu__title {
    padding: 10px 10px;
  }
}

@media (max-width: 440px) {

  .mobile-menu__opener {
    padding: 22px 16px;
    display: flex;
    flex-direction: column;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 25;
  }

  .mobile-menu__opener span {
    margin-bottom: 2px;
    width: 18px;
    height: 4px;
    border-radius: 2px;
    background: #0A1F33;
    transition: all 0.3s;
  }

  .mobile-menu__opener span:nth-child(2) {
    width: 16px;
  }

  .mobile-menu__opener span:nth-child(3) {
    margin-bottom: 0;
    width: 14px;
  }

  .mobile-menu__opener.open span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    width: 22px;
  }

  .mobile-menu__opener.open span:nth-child(2) {
    opacity: 0;
  }

  .mobile-menu__opener.open span:nth-child(3) {
    transform: rotate(-45deg) translate(3px, -4px);
    width: 22px;
  }

  .mobile-menu__content {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    background: #fff;
    border-top: 1px solid #E5E5E5;
    height: calc(100vh - 60px);
    width: 100vw;
    overflow: auto;
  }

  .mobile-menu__title {
    padding: 20px 20px 20px 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px -1px 0px 0px #E5E5E5 inset;
    font-size: 22px;
  }

  .mobile-menu__title svg {
    width: 20px;
  }

  .mobile-menu__title.open {
    background: #CC0001;
    color: #fff;
  }

  .mobile-menu__title.open svg path {
    stroke: #fff;
  }

  .mobile-menu__menu {
    position: static;
    max-height: none;
  }

  .mobile-menu__fulllink {
    padding-right: 20px;
  }

  .mobile-menu__search {
    display: block;
    position: relative;
  }

  .mobile-menu__contacts {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #E5E5E5;
    height: 80px;
  }

  .mobile-menu__contacts a {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mobile-menu__contacts a:first-child {
    border-right: 1px solid #E5E5E5;
  }

  .mobile-menu .header-search__form {
    width: 100%;
    position: static;
    display: flex;
    border-bottom: 1px solid #E5E5E5;
    height: 80px;
  }

  .mobile-menu .header-search__form input {
    height: 80px;
    width: calc(100% - 80px);
  }

  .mobile-menu .header-search__btn {
    width: 80px;
    height: 100%;
    background: #07192A url(../img/icons/search.svg) 50% 50% no-repeat;
    background-size: 25px;
  }

  .mobile-menu .header-search__results {
    right: 0;
    top: 80px;
    width: 100%;
  }

  .mobile-menu__map {
    height: 360px;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .mobile-menu__map #map-mobile {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .mobile-menu .socity {
    background: #DDE1E8;
  }

  .mobile-menu__requisites {
    padding: 20px 20px 20px 30px;
    background-image: url(../img/icons/pdf.svg);
    background-position: 100% 50%;
    background-repeat: no-repeat;
    height: 80px;
    display: flex;
    align-items: center;
    text-decoration-line: underline;
    font-size: 20px;
    color: #07192A;
  }

  .mobile-menu__bottom {
    display: block;
  }

}

/* соцсети */
.socity {
  display: flex;
  flex-direction: column;
  gap: 36px;
}

.socity__item {
  opacity: 0.25;
  transition: opacity 0.3s;
}

.socity__item:hover {
  opacity: 1;
}

@media (max-width: 1200px) {
  .socity {
    padding: 36px 20px;
    flex-direction: row;
    gap: 36px;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 767px) {
  .socity {
    padding: 24px 20px;
    gap: 40px;
  }
}

/*  */
.policy {
  display: flex;
  align-items: center;
  padding: 20px 40px;
  height: 120px;
  font-size: 16px;
  color: #07192A;
  transition: color 0.3s;
  ;
}

.policy:hover {
  color: #CC0001;
}

@media (max-width: 1400px) {
  .policy {
    height: 80px;
  }
}

@media (max-width: 767px) {
  .policy {
    height: 60px;
  }
}

/* подвал */
.footer {
  display: flex;
}

.footer__left {
  padding: 60px 100px 60px 120px;
  display: flex;
  flex-direction: column;
  gap: 36px;
  width: 50%;
  background: #CC0001;
  color: #fff;
}

.footer__left a {
  color: #fff;
}

.footer__map {
  width: 50%;
  position: relative;
}

.footer__map #map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}

.footer__line {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 36px;
}

.footer__download {
  text-decoration: underline;
}

.footer__download--moble {
  display: none;
}

.footer__mail {
  text-decoration: underline;
}

@media (max-width: 1700px) {
  .footer__left {
    padding: 60px 40px 60px 60px;
  }
}

@media (max-width: 1200px) {
  .footer {
    flex-wrap: wrap;
  }

  .footer__left {
    padding: 60px 126px;
    width: 100%;
    order: 1;
  }

  .footer__map {
    width: 100%;
    height: 360px;
  }
}

@media (max-width: 920px) {
  .footer {
    background: #CC0001;
  }

  .footer__left {
    margin: 0 auto;
    padding: 60px 40px;
    max-width: 720px;
  }
}

@media (max-width: 767px) {
  .footer__left {
    padding: 65px 40px;
    max-width: 720px;
  }

  .footer__download {
    display: none;
  }

  .footer__download--moble {
    display: block;
  }
}

@media (max-width: 440px) {
  .footer__left {
    padding: 60px 16px;
    max-width: 382px;
  }
}

/*  */
.ymaps-2-1-79-map {
  width: 100% !important;
  height: 100% !important;
}

.ymaps-2-1-79-map .ymaps-2-1-79-placemark-overlay,
.ymaps-2-1-79-map .ymaps-2-1-79-ground-pane {
  filter: grayscale(1);
}

.ymaps-2-1-79-float-button {
  background: #CC0001 url("../img/icons/map-icon.svg") 50% 50% no-repeat !important;
  background-size: contain;
  width: 60px;
  max-width: 60px !important;
  height: 60px !important;
  box-shadow: none;
}

.ymaps-2-1-79-float-button-icon_icon_collapse,
.ymaps-2-1-79-float-button-icon_icon_expand {
  display: none !important;
}

/* quiz */
.quiz {
  display: flex;
  min-height: calc(100vh - 120px);
}

.quiz__step {
  display: none;
}

.quiz__step:first-child {
  display: block;
}

.quiz__info {
  padding: 196px 104px 196px 164px;
  box-sizing: border-box;
  width: 50%;
  background: #EEF1F6;
}

.quiz__form {
  padding: 196px 136px 210px 120px;
  box-sizing: border-box;
  width: 50%;
  background: #CC0001;
  color: #fff;
}

.quiz__checkboxes {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.quiz__checkbox {
  width: calc(50% - 20px);
}

.quiz__title {
  margin-bottom: 30px;
  padding-bottom: 30px;
  line-height: 110%;
  font-weight: 700;
  font-size: 30px;
  border-bottom: 2px solid #E52600;
}

.quiz__caption {
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 24px;
}

.quiz__line {
  margin-top: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.quiz__line button {
  display: none;
}

.quiz__btns {
  display: flex;
  gap: 20px;
}

.quiz__btn {
  border: 4px solid #fff;
}

.quiz__count {
  display: flex;
  align-items: center;
  gap: 5px;
  font-weight: 700;
}

.quiz__more {
  margin-top: 40px;
}

@media (max-width: 1700px) {
  .quiz__form {
    padding: 120px 80px;
  }

  .quiz__info {
    padding: 120px 80px;
  }
}

@media (max-width: 1400px) {
  .quiz__form {
    padding: 80px 40px;
  }

  .quiz__info {
    padding: 80px 40px;
  }
}

@media (max-width: 1200px) {
  .quiz {
    flex-wrap: wrap;
  }

  .quiz__info {
    padding: 80px 0;
    width: 100%;
  }

  .quiz__form {
    padding: 80px 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .quiz__title {
    padding-bottom: 25px;
    font-size: 28px;
  }

  .quiz__caption {
    font-size: 20px;
  }

  .quiz__checkboxes {
    gap: 30px;
  }

  .quiz__checkbox {
    width: 100%;
    font-size: 16px;
  }

  .quiz__btns {
    gap: 10px;
    font-size: 16px;
  }

  .quiz__line {
    margin-top: 40px;
    gap: 16px;
  }

  .quiz__form {
    padding: 64px 0 80px;
  }

  .quiz__info {
    padding: 64px 0 80px;
  }

  .quiz__count {
    font-size: 20px;
  }
}

@media (max-width: 350px) {
  .quiz__count {
    font-size: 16px;
  }

  .quiz__checkboxes {
    gap: 20px;
  }

  .quiz__line {
    flex-wrap: wrap;
  }
}

/* О компании */
.about {
  display: flex;
  min-height: 100vh;
}

.about__img {
  width: 50%;
  position: relative;
}

.about__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about__img::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../img/icons/watermark.svg) 50% 50% no-repeat;
  background-size: 60% auto;
  z-index: 1;
}

.about__info {
  padding: 116px 136px 140px 120px;
  box-sizing: border-box;
  width: 50%;
}

.about__more {
  margin-top: 40px;
}

.about__subtitle {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  color: #07192A;
}

@media (max-width: 1700px) {
  .about__info {
    padding: 110px 80px;
  }
}

@media (max-width: 1400px) {
  .about__info {
    padding: 80px 40px;
  }
}

@media (max-width: 1200px) {
  .about {
    flex-wrap: wrap;
  }

  .about__img {
    width: 100%;
    max-height: 420px;
  }

  .about__img::before {
    background-size: auto 60%;
  }

  .about__info {
    padding: 40px 0;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .about__subtitle {
    font-size: 20px;
  }
}

/*  */
.bonus {
  padding: 100px 136px 178px 136px;
  background: #EEF1F6 url(../img/bonus.png) 100% 50% no-repeat;
  background-size: 60% auto;
}

.bonus__info {
  max-width: 50%;
}

.bonus__subtitle {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  color: #07192A;
}

.bonus__items {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.bonus__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.bonus__icon {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background: #CC0001;
}

.bonus__text {
  width: calc(100% - 80px);
}

.bonus__prices {
  display: flex;
  gap: 20px;
  font-size: 24px;
  font-weight: 700;
}

.bonus__old-price {
  position: relative;
  color: #A1A7B2;
}

.bonus__old-price::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  height: 1px;
  background: #A1A7B2;
}

.bonus__price {
  color: #CC0001;
}

.bonus__btn {
  margin-top: 40px;
  display: flex;
  width: max-content;
}

.bonus__btn span {
  padding: 10px 30px;
  display: block;
  border: 4px solid #CC0001;
  box-sizing: border-box;
  color: #07192A;
  font-weight: 700;
  transition: all 0.3s;
}

.bonus__gift {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #CC0001;
  transition: all 0.3s;
}

.bonus__btn:hover span,
.bonus__btn:hover .bonus__gift {
  background: #E52600;
  border-color: #E52600;
  color: #fff;
}

@media (max-width: 1700px) {
  .bonus {
    padding: 100px 80px;
  }
}

@media (max-width: 1400px) {
  .bonus {
    padding: 80px 40px;
  }
}

@media (max-width: 1200px) {
  .bonus {
    padding: 80px 0px 440px;
    background-position: 100% 100%;
    background-size: 80% auto;
  }

  .bonus__info {
    max-width: 100%;
  }

  .bonus__item {
    max-width: 420px;
  }
}

@media (max-width: 767px) {
  .bonus {
    padding: 60px 0px 470px;
    background-position: 50% 100%;
    background-size: auto 460px;
  }

  .bonus__subtitle {
    font-size: 20px;
  }

  .bonus__items {
    gap: 30px;
  }
}

/* Услуги */
.services {
  overflow: hidden;
  background: #CC0001;
  color: #fff;
}

.services__top {
  padding: 116px 136px 40px;
  display: flex;
  justify-content: space-between;
}

.services h2 {
  margin-bottom: 0;
  color: #fff;
}

.services__slider {
  width: 100%;
  overflow: hidden;
  background-size: cover;
  counter-reset: item;
}

.services__prev,
.services__next {
  width: 60px;
  height: 60px;
  border: 3px solid #DDE1E8;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s;
}

.services__prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='28' viewBox='0 0 17 28' fill='none'%3E%3Cpath d='M15.3967 1.30356C14.6102 0.56954 13.3898 0.569537 12.6033 1.30356L1.34982 11.8068C0.0790936 12.9928 0.0790902 15.0072 1.34982 16.1932L12.6033 26.6964C13.3898 27.4305 14.6102 27.4305 15.3967 26.6964C16.2637 25.8872 16.2637 24.5128 15.3967 23.7036L5.78327 14.7311C5.3597 14.3357 5.3597 13.6643 5.78327 13.2689L15.3967 4.29644C16.2637 3.4872 16.2637 2.1128 15.3967 1.30356Z' fill='%23DDE1E8'/%3E%3C/svg%3E");
}

.services__next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='28' viewBox='0 0 17 28' fill='none'%3E%3Cpath d='M1.60332 1.30356C2.38978 0.56954 3.61022 0.569537 4.39667 1.30356L15.6502 11.8068C16.9209 12.9928 16.9209 15.0072 15.6502 16.1932L4.39668 26.6964C3.61022 27.4305 2.38978 27.4305 1.60332 26.6964C0.736284 25.8872 0.736286 24.5128 1.60333 23.7036L11.2167 14.7311C11.6403 14.3357 11.6403 13.6643 11.2167 13.2689L1.60332 4.29644C0.736284 3.4872 0.736284 2.1128 1.60332 1.30356Z' fill='%23DDE1E8'/%3E%3C/svg%3E");
}

.services__prev:hover {
  border-color: #fff;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='28' viewBox='0 0 17 28' fill='none'%3E%3Cpath d='M15.3967 1.30356C14.6102 0.56954 13.3898 0.569537 12.6033 1.30356L1.34982 11.8068C0.0790936 12.9928 0.0790902 15.0072 1.34982 16.1932L12.6033 26.6964C13.3898 27.4305 14.6102 27.4305 15.3967 26.6964C16.2637 25.8872 16.2637 24.5128 15.3967 23.7036L5.78327 14.7311C5.3597 14.3357 5.3597 13.6643 5.78327 13.2689L15.3967 4.29644C16.2637 3.4872 16.2637 2.1128 15.3967 1.30356Z' fill='%23CC0001'/%3E%3C/svg%3E");
}

.services__next:hover {
  border-color: #fff;
  background-color: #fff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='28' viewBox='0 0 17 28' fill='none'%3E%3Cpath d='M1.60332 1.30356C2.38978 0.56954 3.61022 0.569537 4.39667 1.30356L15.6502 11.8068C16.9209 12.9928 16.9209 15.0072 15.6502 16.1932L4.39668 26.6964C3.61022 27.4305 2.38978 27.4305 1.60332 26.6964C0.736284 25.8872 0.736286 24.5128 1.60333 23.7036L11.2167 14.7311C11.6403 14.3357 11.6403 13.6643 11.2167 13.2689L1.60332 4.29644C0.736284 3.4872 0.736284 2.1128 1.60332 1.30356Z' fill='%23CC0001'/%3E%3C/svg%3E");
}

.services__nav {
  display: flex;
  align-items: center;
  gap: 40px;
  font-weight: 700;
}

.services__slide {
  padding: 40px;
  box-sizing: border-box;
  width: 360px;
  height: 640px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: end;
  z-index: 1;
}

.services__title {
  font-size: 30px;
  font-weight: 900;
}

.services__more {
  margin-top: 30px;
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  border: 5px solid #FFF;
  background-image: url(../img/icons/plus.svg);
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.3s;
}

.services__info {
  padding-top: 0px;
  box-sizing: border-box;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s;
}

.services__slide:hover .services__info {
  padding-top: 30px;
  max-height: 400px;
}

.services__slide:hover .services__more {
  background-color: #CC0001;
  border-color: #CC0001;
}

.services__slide:hover::after {
  backdrop-filter: blur(15px);
}

.services__slide img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  display: none;
}

.services__slide:before {
  counter-increment: item;
  top: 40px;
  left: 40px;
  content: counter(item, decimal-leading-zero);
  position: absolute;
  text-transform: uppercase;
  font-size: 56px;
  font-weight: 900;
  color: #FFF;
}

.services__slide::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.30) 0%, rgba(0, 0, 0, 0.50) 100%);
  z-index: -1;
}

.services__link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 2;
}

@media (max-width: 1700px) {
  .services__top {
    padding: 100px 80px 40px;
  }
}

@media (max-width: 1400px) {
  .services__top {
    padding: 80px 40px 40px;
  }
}

@media (max-width: 1200px) {
  .services__pagination {
    display: none;
  }

  .services__top {
    padding: 80px 0 40px;
  }
}

@media (max-width: 767px) {
  .services__slide img {
    display: block;
  }

  .services__slide {
    padding: 40px 0;
    width: 100%;
    height: 320px;
    justify-content: start;
  }

  .services__wrapper {
    display: block;
  }

  .services__slide:before {
    display: none;
  }

  .services__info {
    padding-top: 30px;
    max-height: 400px;
  }

  .services__inner {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 720px;
  }

  .services__title {
    font-size: 24px;
  }
}
@media screen and (max-width: 440px) {
  .services__inner {
    margin: 0 auto;
    padding: 0 16px;
    max-width: 382px;
  }
}

/* вступление в СРО */
.sro {
  display: flex;
}

.sro__rigth {
  width: 50%;
  padding: 100px 116px;
}

.sro__left {
  width: 50%;
}

.sro__left img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sro__subtitle {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 24px;
  color: #07192A;
}

.sro__tabs {
  margin-bottom: 40px;
  display: flex;
  gap: 20px;
}

.sro__tab {
  padding: 15px 30px;
  border: 4px solid #DDE1E8;
  font-weight: 700;
  color: #07192A;
  transition: all 0.3s;
}

.sro__tab.active {
  background: #CC0001;
  border: 4px solid #CC0001;
  color: #fff;
}

.sro__tab.sro__tab--good.active {
  background: #2C0;
  border: 4px solid #2C0;
}

.sro__good-item,
.sro__bad-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.sro__good-item::before,
.sro__bad-item::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  min-width: 30px;
  height: 30px;
  background: url('../img/icons/bad.svg') 50% 50% no-repeat;
  background-size: contain;
}

.sro__good-item::before {
  background: url('../img/icons/good.svg') 50% 50% no-repeat;
}

.sro__content {
  display: none;
}

.sro__content.active {
  display: flex;
  flex-direction: column;
  gap: 30px;
  pointer-events: none;
}

@media (max-width: 1700px) {
  .sro__rigth {
    padding: 100px 80px;
  }

}

@media (max-width: 1400px) {
  .sro__rigth {
    padding: 80px 40px;
  }
}

@media (max-width: 1200px) {
  .sro {
    flex-wrap: wrap;
  }

  .sro__left {
    width: 100%;
    max-height: 640px;
  }

  .sro__rigth {
    padding: 80px 0px 80px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .sro__subtitle {
    margin-bottom: 30px;
    font-size: 20px;
  }

  .sro__left {
    height: 60vw;
    min-height: 320px;
  }

  .sro__rigth {
    padding: 40px 0px 80px;
  }

  .sro__tabs {
    margin-bottom: 30px;
    display: flex;
    gap: 10px;
  }
}

@media (max-width: 440px) {
  .sro__tab {
    padding: 15px 20px;
  }
}

/* Наши преимущества */
.benefits {
  padding: 116px 0;
  background: #CC0001;
  text-align: center;
  color: #fff;
}

.benefits h2 {
  margin-bottom: 60px;
  color: #fff;
}

.benefits__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 60px 20px;
}

.benefits__item {
  width: calc(25% - 20px);
}

.benefits__icon {
  margin: 0 auto 10px;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
@media (max-width: 1200px) {
  .benefits h2 {
    margin-bottom: 1em;
  }
  .benefits {
    padding: 80px 0;
  }
  .benefits__items {
    gap: 40px 20px;
  }
  .benefits__item {
    width: calc(50% - 20px);
  }
}
@media (max-width: 480px) {
  .benefits {
    padding: 60px 0;
  }
  .benefits__items {
    gap: 20px;
  }
  .benefits__item {
    width: 100%;
  }
}
/* Отзывы */
.reviews {
  padding: 100px 0;
  overflow: hidden;
}
.reviews__slider {
  margin: 0;
  overflow: visible;
  width: 85%;
  position: relative;
}
.reviews__slide {
  display: flex;
  gap: 60px;
  justify-content: space-between;
  background: #FAFAFA;
  height: 100%;
}
.reviews__img {
  max-width: 300px;
  min-width: 300px;
}
.reviews__text {
  padding-bottom: 80px;
}
.reviews__line {
  position: absolute;
  bottom: 0;
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  z-index: 1;
}
.reviews__arrows {
  display: flex;
  gap: 36px;
}
.reviews__prev,
.reviews__next {
  width: 60px;
  height: 60px;
  border: 3px solid #DDE1E8;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: all 0.3s;
}

.reviews__prev {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='28' viewBox='0 0 17 28' fill='none'%3E%3Cpath d='M15.3967 1.30356C14.6102 0.56954 13.3898 0.569537 12.6033 1.30356L1.34982 11.8068C0.0790936 12.9928 0.0790902 15.0072 1.34982 16.1932L12.6033 26.6964C13.3898 27.4305 14.6102 27.4305 15.3967 26.6964C16.2637 25.8872 16.2637 24.5128 15.3967 23.7036L5.78327 14.7311C5.3597 14.3357 5.3597 13.6643 5.78327 13.2689L15.3967 4.29644C16.2637 3.4872 16.2637 2.1128 15.3967 1.30356Z' fill='%23DDE1E8'/%3E%3C/svg%3E");
}

.reviews__next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='28' viewBox='0 0 17 28' fill='none'%3E%3Cpath d='M1.60332 1.30356C2.38978 0.56954 3.61022 0.569537 4.39667 1.30356L15.6502 11.8068C16.9209 12.9928 16.9209 15.0072 15.6502 16.1932L4.39668 26.6964C3.61022 27.4305 2.38978 27.4305 1.60332 26.6964C0.736284 25.8872 0.736286 24.5128 1.60333 23.7036L11.2167 14.7311C11.6403 14.3357 11.6403 13.6643 11.2167 13.2689L1.60332 4.29644C0.736284 3.4872 0.736284 2.1128 1.60332 1.30356Z' fill='%23DDE1E8'/%3E%3C/svg%3E");
}

.reviews__prev:hover {
  border-color: #CC0001;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='28' viewBox='0 0 17 28' fill='none'%3E%3Cpath d='M15.3967 1.30356C14.6102 0.56954 13.3898 0.569537 12.6033 1.30356L1.34982 11.8068C0.0790936 12.9928 0.0790902 15.0072 1.34982 16.1932L12.6033 26.6964C13.3898 27.4305 14.6102 27.4305 15.3967 26.6964C16.2637 25.8872 16.2637 24.5128 15.3967 23.7036L5.78327 14.7311C5.3597 14.3357 5.3597 13.6643 5.78327 13.2689L15.3967 4.29644C16.2637 3.4872 16.2637 2.1128 15.3967 1.30356Z' fill='%23CC0001'/%3E%3C/svg%3E");
}

.reviews__next:hover {
  border-color: #CC0001;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='17' height='28' viewBox='0 0 17 28' fill='none'%3E%3Cpath d='M1.60332 1.30356C2.38978 0.56954 3.61022 0.569537 4.39667 1.30356L15.6502 11.8068C16.9209 12.9928 16.9209 15.0072 15.6502 16.1932L4.39668 26.6964C3.61022 27.4305 2.38978 27.4305 1.60332 26.6964C0.736284 25.8872 0.736286 24.5128 1.60333 23.7036L11.2167 14.7311C11.6403 14.3357 11.6403 13.6643 11.2167 13.2689L1.60332 4.29644C0.736284 3.4872 0.736284 2.1128 1.60332 1.30356Z' fill='%23CC0001'/%3E%3C/svg%3E");
}
.reviews__btn {
  padding: 6px 30px;
  height: 60px;
  display: inline-flex;
  align-items: center;
  border: 3px solid #DDE1E8;
  background: #fafafa;
  font-weight: 700;
  color: #07192A;
  transition: all 0.3s;
}
.reviews__btn:hover {
  border: 3px solid #CC0001;
  background: #CC0001;
  color: #fff;
}
.reviews__name {
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 700;
}
.reviews__text {
  padding-top: 20px;
}

@media (max-width: 1200px) {
  .reviews {
    padding: 80px 0;
  }
  .reviews__text {
    padding-bottom: 10px;
  }
  .reviews__line {
    margin-top: 60px;
    position: static;
    width: 100%;
  }
}
@media (max-width: 480px) {
  .reviews {
    padding: 40px 0;
  }
  .reviews__slider {
    width: 100%;
  }
  .reviews__slide {
    flex-wrap: wrap;
    gap: 20px;
  }
  .reviews__text {
    padding-bottom: 10px;
    width: 100%;
    order: 1;
  }
  .reviews__name {
    margin-bottom: 30px;
  }
  .reviews__img {
    max-width: 100%;
    min-width: none;
  }
  .reviews__line {
    flex-wrap: wrap;
    gap: 20px;
  }
  .reviews__arrows {
    gap: 20px;
  }
}